* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80");
  background-size: cover;
  background-position: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
a:hover {
  color: orange;
}

/* header */
header {
  position: relative;
  padding: 0 1.5rem;
}
.navbar {
  width: 100%;
  height: 3rem;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.navbar .logo a {
  font-weight: bold;
  font-size: 1.5rem;
}
/* .navigation{
  display: flex;
} */
.navbar .links {
  display: flex;
  gap: 3.5rem;
}
.navbar .toggle_button {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.navbar button {
  background-color: orange;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 12rem;
}
.login:hover {
  scale: 1.05;
  color: white;
}
.login:active {
  scale: 0.95;
}

/*dropdown menu*/
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 4rem;
  width: 20rem;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .login-btn-mobile{
  background-color: orange;
  color: rgb(93, 20, 181);
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 12rem;
  display: flex;
  justify-content: center;
}

.modal {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 20px 20px 20px rgba(47, 18, 18, 0.101);
  width: 60vw;
  height: 75vh;
}

.modal-content {
  display: flex;
  justify-content: center;
  width: 31%;
  height: 94%;
  margin-top: 2%;
  margin-left: 1.2rem;
  border-radius: 1rem;
  background-color: rgba(30, 16, 186, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
}
.modal-content img {
  margin-top: 1rem;
}

.close {
  color: rgb(47, 37, 37);
  float: right;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -1.3rem;
  display: flex;
  align-items: flex-start;
  margin-left: -1%; 
  background: none;
  border: none;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.circle {
  position: relative;
  background-color: rgba(220, 20, 60, 0);
  width: 20%;
  color: white;
  font-weight: 500;
  height: 45%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.circle p {
  margin-top: 10px;
}
.circle1 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(196, 218, 227);
  border: solid 1px white;
  display: flex;
  justify-content: center;
  color: black;
}
.circle2 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px white;
  display: flex;
  justify-content: center;
  /* margin-top: 0.rem; */
}
.circle3 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px white;
  display: flex;
  justify-content: center;
}
.circle4 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px white;
  display: flex;
  justify-content: center;
}
.steps {
  position: relative;
  background-color: rgba(255, 255, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 45%;
  margin-top: 15%;
  margin-left: 0%;
}

.step1 {
  position: inherit;
  padding-left: 5px;
  background-color: rgba(156, 55, 55, 0);
}

.steps p {
  margin-bottom: 0.2rem;
  font-size: 14px;
  font-size: medium;
  font-weight: 500;
  color: hsl(233, 11%, 83%);
}
.steps span {
  color: white;
  font-size: large;
  font-weight: 500;
}
.stepContainer {
  background-color: rgba(210, 96, 14, 0);
  width: 50%;
  height: 80%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
#stepInfo {
  display: flex;
  flex-direction: column;
}
.stepInfo h1 {
  font-size: 2.5rem;
  color: hsl(211, 82%, 24%);
}
.stepInfo p {
  font-weight: 700;
  color: hsl(211, 82%, 22%);
}
.stepInfo .descrition {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  color: rgb(179, 174, 174);
  margin-bottom: 1rem;
}
#stepInfo input {
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  border: solid 1px rgba(103, 92, 92, 0.628);
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  /* color: rgb(223, 220, 220); */
}
#stepInfo input::placeholder {
  color: rgb(171, 161, 161);
}
.buttonContainerStepOne {
  position: relative;
  background-color: rgba(0, 255, 51, 0);
  padding-left: 24rem;
  padding-top: 6.5rem;
}
.flexError {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.flexError span {
  padding-top: 1rem;
}
#errorName {
  color: red;
  font-size: 12px;
}
#errorNum {
  color: red;
  font-size: 12px;
}
#errorMail {
  color: red;
  font-size: 12px;
}
.nextStep {
  padding: 14px 18px 14px 18px;
  width: 9rem;
  height: 4rem;
  background-color: hsl(213, 96%, 18%);
  color: white;
  border-radius: 0.5rem;
  border: solid 1px rgba(0, 0, 255, 0);
  cursor: pointer;
  font-size: 1.1rem;
}
.nextStep:hover {
  background-color: hsla(243, 100%, 62%, 0.423);
}

/* step2 */
#stepPlan {
  display: none;
  flex-direction: column;
}
.stepPlan h1 {
  font-size: 2.5rem;
  color: hsl(211, 82%, 24%);
}
.stepPlan p {
  font-weight: 700;
  color: hsl(211, 82%, 22%);
}
.stepPlan .descrition {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  color: rgb(179, 174, 174);
  margin-bottom: 1rem;
}

.planMonth {
  display: flex;
  justify-content: space-between;
}

.planButton {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 30%;
  height: 12.5rem;
  border: solid 1px hsl(229, 24%, 87%);
  background-color: white;
  cursor: pointer;
  /* padding: 0.5rem 1rem; */
}

.planButton:hover {
  border: solid 1px hsl(213, 96%, 18%);
}

.planButton img {
  margin-top: 0.8rem;
  margin-left: 1rem;
}

.planButton p {
  font-size: 18px;
  margin-top: 50px;
  margin-left: 1rem;
  margin-bottom: 8px;
}

.planButton span {
  margin-left: 1rem;
  color: hsl(231, 11%, 63%);
}
.planButton label {
  color: hsl(213, 96%, 18%);
  margin-left: 1rem;
}
.free {
  cursor: pointer;
  margin-left: 8px;
  font-size: 12px;
}
.switch {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 3.5rem;
  background-color: hsl(217, 100%, 97%);
  border-radius: 0.8rem;
  margin-top: 3rem;
  padding: 1.2rem;
}
.check {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
  margin-top: 0rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.check input {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 0;
  height: 0;
}

.check input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsl(213, 96%, 18%);
  border-radius: 20px;
}

.check input:checked + span {
  background: hsl(213, 96%, 18%);
}

.check input + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.check input:checked + span:before {
  left: 24px;
}
.free {
  margin-top: 10px;
}
#planYear {
  display: none;
  justify-content: space-between;
}
.buttonContainerStepTwo {
  position: relative;
  background-color: rgba(0, 255, 51, 0);
  padding-top: 8rem;
}
.buttonContainerStepTwo {
  display: flex;
  /* padding: 0.5rem 1rem; */
}
.goBack {
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2rem;
  color: hsl(231, 11%, 63%);
  padding: 0.5rem 0.5rem;
}
.buttonContainerStepTwo .nextStep {
  margin-left: 18rem;
}

/* step3 */
#stepAddOn {
  display: none;
  flex-direction: column;
}
.stepAddOn h1 {
  font-size: 2.5rem;
  color: hsl(211, 82%, 24%);
}
.stepAddOn p {
  font-weight: 700;
  color: hsl(211, 82%, 22%);
}
.stepAddOn .descrition {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  color: rgb(179, 174, 174);
  margin-bottom: 1rem;
}
.buttonContainerStepThree {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 255, 51, 0);
  padding-top: 5rem;
}
.addOnButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
  border: solid 1px hsl(229, 24%, 87%);
  border-radius: 0.8rem;
  height: 6rem;
  padding: 0px 2rem 0px 2rem;
}
.addOnButton:hover {
  border: solid 1px hsl(229, 77%, 52%);
}
.addOnButton p {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.addOnButton span {
  margin-left: 2rem;
  font-size: 1rem;
  color: grey;
}
.regroup {
  display: flex;
}

#addOnYaerly {
  display: none;
  flex-direction: column;
}
#addOnMonth {
  flex-direction: column;
}
.checkbox-2 {
  width: 1.2rem;
}

/* step-4 */
#stepSummary {
  display: none;
  flex-direction: column;
}
.stepSummary h1 {
  font-size: 2.5rem;
  color: hsl(211, 82%, 24%);
}
.stepSummary p {
  font-weight: 500;
  color:  rgb(179, 174, 174);
  font-size: 1rem;
  margin-top: 1.5rem;
}
.stepSummary .descrition {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  color: rgb(179, 174, 174);
  margin-bottom: 1rem;
}
#resumeYear {
  display: none;
  flex-direction: column;
}
#resumeMonth {
  display: flex;
  flex-direction: column;
}
.containerResume {
  margin-top: 2rem;
  width: 100%;
  height: 3rem0px;
  background-color: hsl(229deg 28% 96%);
  padding: 2rem 30px 10px 20px;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  /* color:  rgb(179, 174, 174); */
}
.containerResume button {
  border: none;
  background-color: rgba(250, 235, 215, 0);
  text-decoration: underline;
  cursor: pointer;
  padding-left: 0px;
  color:  rgb(179, 174, 174);
  margin-left: 0%;
}
.containerResume button:hover {
  color: hsl(243, 100%, 62%);
}
.containerResume h4 {
  margin-bottom: 0px;
  color: hsl(211, 82%, 24%);
}
.containerResume span {
  display: block;
  margin-top: 0px;
  height: 1px;
  background-color: hsl(231deg 18% 88%);
}

.flexResume {
  display: flex;
  justify-content: space-between;
}

.flexResume label {
  display: flex;
  align-items: center;
  color:  hsl(211, 82%, 24%);;
}
#modeTotal {
  color: rgb(179, 174, 174);
}
.flexTotal {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 0px 0px;
  margin: 0.9rem 0px 0px 0px;
  width: 100%;
  padding: 1px 20px 10px 20px;
  border-radius: 10px;
}
.total{
  font-size: 1.5rem;
  color: hsl(243, 100%, 62%);
  margin-left: 14.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.buttonContainerStepFour{
    display: flex;
    margin-top: 6rem;
    
}
.buttonContainerStepFour .nextStep{
    margin-left: 18rem;
    background-color:  hsl(243, 100%, 62%);
}
.underMedia {
  flex-direction: column;
}
.stepThankYou {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
}

.stepThankYou img {
  width: 5rem;
}
.stepThankYou h1{
    margin-top: 2rem;
}
.stepThankYou p{
    margin-top: 1.5rem;
    color:  rgb(179, 174, 174);
    text-align: center;
}