@media (max-width: 1440px) {
  .buttonContainerStepOne {
    padding: 0%;
    padding-top: 3rem;
    padding-left: 16rem;
  }
  .buttonContainerStepTwo {
    padding-top: 6rem;
  }
  .buttonContainerStepTwo .nextStep {
    margin-left: 0%;
    margin-left: 10rem;
  }
  .buttonContainerStepThree {
    padding-top: 0%;
    padding-top: 3rem;
  }
  .addOnButton p {
    margin-left: 0%;
    margin-left: 1.5rem;
  }
  .addOnButton span {
    margin-left: 0%;
    margin-left: 1.5rem;
  }
  .buttonContainerStepFour {
    margin-top: 0%;
    margin-top: 3rem;
  }
  .buttonContainerStepFour .nextStep {
    margin-left: 0%;
    margin-left: 10rem;
  }
}
@media (max-width: 992px) {
  .navbar .links,
  .navbar .login-btn {
    display: none;
  }

  .navbar .toggle_button {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 475px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
    display: none;
  }
  .dropdown_menu .login-btn-mobile {
    margin-left: 0%;
    margin-left: 6rem;
  }
  .open {
    display: block;
  }

  .modal {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 42rem;
    background-color: rgb(216 236 238);
    background-image: none;
    border-radius: 0%;
  }
  .modal-content {
    border-radius: 0%;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0%;
    height: 12rem;
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
  }
  .steps {
    display: none;
  }
  .circle {
    position: relative;
    width: 60%;
    color: white;
    font-weight: 500;
    height: 2%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .circle p {
    margin-top: 0.6rem;
  }
  .circle1 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(196, 218, 227);
    border: solid 1px white;
    display: flex;
    justify-content: center;
    color: black;
  }
  .circle2 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px white;
    display: flex;
    justify-content: center;
  }
  .circle3 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px white;
    display: flex;
    justify-content: center;
  }
  .circle4 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px white;
    display: flex;
    justify-content: center;
  }
  .stepContainer {
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 28rem;
    position: absolute;
    margin-top: 7rem;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 0.8rem;
    padding: 20px;
  }
  #stepInfo {
    display: flex;
    flex-direction: column;
  }

  .stepInfo h1 {
    margin-top: 0;
    font-size: 2rem;
  }

  #stepInfo input {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.3rem;
    border: solid 1px rgba(103, 92, 92, 0.628);
  }
  .buttonContainerStepOne {
    padding: 0%;
    padding: 3.5rem 0 0 10rem;
  }
  #stepPlan {
    display: none;
    flex-direction: column;
  }
  .planMonth {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .stepPlan h1 {
    margin-top: 0;
    font-size: 2rem;
  }

  .descrition {
    margin-top: 0;
  }
  .planButton {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 100%;
    height: 4rem;
    border: solid 1px hsl(229, 24%, 87%);
    background-color: white;
    margin-top: 10px;
    cursor: pointer;
  }
  .planButton p {
    font-size: 1rem;
    margin-top: 0.7rem;
    margin-left: 1rem;
    margin-bottom: 0px;
  }
  .planButton span {
    margin-left: 4.5rem;
    font-size: 0.8rem;
    margin-top: 1.85rem;
    position: absolute;
  }
  .free {
    /* cursor: pointer; */
    padding-left: 5.2rem;
    font-size: 0.8rem;
    margin-top: 2.7rem;
    position: absolute;
  }
  .switch {
    margin-top: 1rem;
  }
  .buttonContainerStepTwo {
    padding: 0%;
    padding-top: 3rem;
  }
  .buttonContainerStepTwo .nextStep {
    margin-left: 0%;
    margin-left: 3rem;
  }
  .stepAddOn h1{
    font-size: 2rem;
  }
  .addOnButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
    border: solid 1px hsl(229, 24%, 87%);
    border-radius: 10px;
    height: 4.5rem;
    padding: 0px 7px 0px 2px;
  }
  .addOnButton p {
    margin-left: 11px;
    font-size: 1rem;
  }
  .addOnButton span {
    margin-left: 10px;
    font-size: 0.8rem;
  }
  .checkbox-2 {
    width: 1rem;
    margin-left: 0.2rem;
  }
  .buttonContainerStepThree {
    padding-top: 5rem;
  }
  .stepSummary h1{
    font-size: 2rem;
  }
  .containerResume {
    margin-top: 0;
  }
  .flexTotal {
    margin-top: 0;
  }
 .total{
  margin-left: 0%;
 }
 .buttonContainerStepFour .nextStep{
  margin-left: 3rem;
  margin-top: 0%;
}
.stepThankYou {
  margin-top: 2rem;
}
}
